body {
    height: fit-content;
    width: fit-content;
    background-color: none;
    color: black;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #020618;
    width: 330px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

#active-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#active-container h3 {
    color: #a3b3ff;
}

#container {
    height: fit-content;
    max-height: 500px;
    width: 350px;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    white-space: nowrap;
}

.titleLogo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.titleLogo img {
    width: 25px;
    height: 25px;
}

.titleLogo h1 {
    color: #d8d9dc;
}

#logo {
    background-color: #11133b;
    padding: 3px;
    border-radius: 10px;
}

#blue-text {
    color: blue;
    font-weight: bold;
}

#extension-info {
    color: #5f5ca2;
    background-color: #E7EEFF;
    font-size: 19px;
    margin: 5px 10px;
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 1;
    display: flex;
}

#extension-info h5 {
    margin: 0;
}

#input-area {
    width: full;
    padding: 9px 5px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap: 7px;
    margin: 10px 10px;
    border-radius: 10px;
    transition: border-color 0.4s ease-out;
    border: transparent 1px solid;
}

#input-area:focus-within {
    border-color: #0974f1;
}

#input-area svg {
    height: 20px;
    width: 20px;
    transition: fill 0.2s ease-in, scale 0.2s ease-in;
}

#input-area svg:hover {
    fill: red;
    scale: 110%;
}

/* + PLUS BUTTON */
#input-area button {
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #94a3b8;
    background-color: #e2e8f0;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

#input-area button:hover {
    color: #615fff;
    background-color: #cbd5e1;
}

/* INPUT TO BLOCK */
#input-area input {
    flex: 1;
    background-color: transparent;
    color: #00171F;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 20px;
    padding: 5px;
    border: none;
    outline: none;
}

/* SLIDER */
/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #615fff;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #314158;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
  background-color: #615fff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

#blocked-list-heading {
    background-color: #fbfcfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px 10px 0px 10px;
}

/* BLOCKED TERMS */
#blocked-list-heading h5 {
    color: #4c5b72;
    font-size: 17px;
    margin: 0;
}

/* BLOCKED TERMS COUNT */
#blocked-list-heading h6 {
    color: #4c5b72;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    background-color: rgb(213, 214, 215);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#blocked-list-heading h6:hover {
    cursor: default;
}

#blocked-list {
    box-shadow: 0 0 5px #d3d3d3;
    margin: 10px 10px;
}

#blocked-list ul {
    background-color: white;
    margin: 0 0px 10px 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;

    height: 220px;
    overflow-y: auto;
}

#blocked-list ul li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
}

#blocked-list ul li:hover {
    background-color: #e2e8f0;
}

.keyword-item span {
    font-size: 17px;
}

/* DELETE BUTTON ON UL LI */
#blocked-list ul li button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: none;
    border: none;
    transition: background-color 0.2s ease-in;
}

#blocked-list ul li button:hover {
    background-color: #cbd5e1;
}

#blocked-list ul li button svg {
    width: 25px;
    height: 25px;
    fill: #ffbdbd;
    transition: fill 0.2s ease;
}
#blocked-list ul li button svg:hover {
    fill: #fb4750; 
}

#blocked-keywords img {
    width: 10px;
    height: 10px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

/* Settings button */
.Settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.Settings:hover {
    cursor: pointer;
}

.Settings img {
    height: 20px;
    width: 20px;
}

.Settings span {
    font-size: 16px;
    color: darkgray;
}

